body {
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "IBM Plex Sans KR","DM Serif Text", Arial, sans-serif;
}

.ibm-plex-sans-kr-regular {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }


.container {
    width: 100%;
}
.uwb {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    flex:0 0 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.uwb_container{
    display: flex;
    width: 70%;
    height: 200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.fontawesome_container {
    text-align: center;
    flex:1 1 25%;
    margin-bottom: 50px;
}

.fontawesome_container i {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding-top: 25px;
    box-sizing: border-box;
}

.fasize {
    font-size: 100px;
    color: #7e9ac9;

}
.fatitle {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.fainfo {
    font-size: 15px;
    padding-bottom: 15px;
}

.bg_landing {
    background: linear-gradient(to top,#c684b3, #7e9ac9);
    width: 100%;
    height: auto;
    display: block;
    flex-wrap: wrap;
    background-clip: padding-box;
    overflow: hidden; /* 또는 min-height 사용 */

}

.bg_landing div {
    color: white;
}
.bg_landing button {
    color:white;
}

.headlink_container{
    width: 800px;
    height: 400px;
    margin-left: 10%;
    padding-top: 80px;
}

.headlink_title {
    margin-bottom: 30px;
}

.headlink_inform {
    margin-bottom: 40px;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: rgb(40, 40, 40);
    border: 0;
    border-radius: 5px;
    transition: all 1s linear;
}

.btn:hover {
    background-color: rgb(131, 131, 131);
}

.headlink_img {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    display: block;
    flex:0 0 auto;
    margin: 0 auto 0px;
}
.whitebox_container {
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex : 0 0 100%;
    margin: 0;
    padding: 0;

    justify-content: center;  /* 가로 가운데 */
    align-items: center;      /* 세로 가운데 (필요시) */
}

.whitebox_container div {
    color: black;
    text-align: center;
    vertical-align: center;
}

.wb_title {
    flex:0 0 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.wb_inform{
    flex:0 0 100%;
    margin-bottom: 100px;
    padding-bottom: 50px;
    clear: both;
}



.intro-img_container {
    width: 100%;
    height: 600px;
    background-color: white;
}

.newcontainer{
    display: block;
    width: 100%;
    height: 100%;
}

.newexplain {
    text-align: center;
    padding-top: 30px;
    margin:auto;
    clear: both;
    display: block;
    margin-bottom: 30px;
}

.flexbox {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.newpicgroup {
    width: 100%;
    height: 100%;
    position: relative;
    flex: 0 0 50%;

}

.newpic {
    width: 100%;
    height: 100%;
    flex-grow: 0 0 20%;
    display: block;
    transition: all 0.8s linear;

}
.newpic:hover {
    border: 6px solid white;
}
.text-over {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    text-align: left;
}
